<div>
  <ul class="collection with-header">
   <li class="collection-item">
    <input type="text" class="validate " #search>
    <label class="active">Digite o nome do artista desejado.</label>
    <a title="pesquisar" class="secondary-content bnt waves-effect"(click)="getArtists(search.value)">
    <i class="medium material-icons">search</i></a></li>
  </ul>
</div>
<div class="row">
  <div class= "col s6">
    <ul class="collection">
      <li class="collection-item avatar " *ngFor="let artist of artists">
        <img [src]="artist.image" alt="" class="circle">
        <span class="title">{{ artist.name }}</span>
        <a [routerLink]="['/search', artist.name]" class="secondary-content second-line" title="detalhes do artista"><i class="material-icons ">send</i></a>
      </li>
    </ul>
  </div>
  <div class="col s6">
    <router-outlet></router-outlet>
  </div>
</div>
