<div class="row">
  <div class="col s6">
    <div class="row">
      <p>Adicionar Playlist e músicas na playlist</p>
      <div class="input-field col s6">
        <input type="text" #nameM>
        <label for="nome" class="active">Nome da música:</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" #nameP>
        <label for="nome" class="active">Nome da playlist:</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" #dateR>
        <label for="date" class="active">Ano de lançamento:</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" #time>
        <label for="nome" class="active">Duração:</label>
      </div>
    </div>
    <a class="waves-effect waves-light btn #1e88e5 blue darken-1"
      (click)="add(nameM.value, nameP.value, dateR.value, time.value)">Enviar</a>
    <br/>
    <p>Lista de Playlists</p>
    <div class="collection" >
      <a class="collection-item" *ngFor="let item of playlists"
           [routerLink]="['/playlist', item.name]">{{item.name}}</a>
    </div>

</div>
  <div class="col s6">
      <router-outlet></router-outlet>
  </div>
</div>
