<nav>
  <div class="nav-wrapper #1e88e5 blue darken-1">
    <a routerLink="" class="brand-logo right">Musicoteca</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLink=""><a>Home</a></li>
      <li routerLinkActive="active" routerLink="/artist"><a>Artistas</a></li>
      <li routerLinkActive="active" routerLink="/album"><a>Album</a></li>
      <li routerLink=""><a>Pesquisa</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
